@import url(flexbox.css);

:root {
       --cor-verde: #088C19;
       --cor-preta: #000000;
       --cor-amarela: #C78C19;
       --cor-laranja: orange;
       --cor-laranja-escura: darkorange;
       --fonte-principal: 'Chakra Petch', sans-serif;
       --cor-de-fundo-header: linear-gradient(to right, #d5d7e5, #eee, #d5d7e5);
      }


body {
       font-family: var(--fonte-principal);
       font-size: 16px;
     }
     
#header {
          padding: 20px 0;
          background: var(--cor-de-fundo-header);
        }

.header {
          width: 66%;
        }
  
.emblema.header {
                  width: 60%;
                }

.navegacao.lista {
                   text-transform: uppercase;
                   color: var(--cor-preta);
                   text-decoration: none;
                   font-weight: bold;
                   font-size: 22px;
                 }

.navegacao.lista:hover {
                         color: var(--cor-amarela);
                         font-size: 22px;
                         transition: 1s;
                       }

.navegacao.lista.home:hover {
                              margin-right: 6px;
                            }

.navegacao.lista.produtos:hover {
                                  margin-right: 6px;
                                  margin-left: 6px;
                                }

.navegacao.lista.contato:hover {
                                 margin-left: 6px;
                                 margin-right: 6px;
                               }  

#main {
        width: 66%;
        margin: 0 auto;
      }

.main.home.historia {
                     margin: 20px 0;
                     padding: 20px 0;
                     border-top: 1px solid #000000; 
                    }

.emblema.tesoura {  
                    margin: 0 20px 20px 0;
                    width: 150px;
                    float: left;
                    margin: 0 20px 20px 0;
                 }

.main.home.historia p {
                        margin: 0 0 1em;
                      }

.main.home.historia strong {
                             font-weight: bold;
                           }

.main.home.historia em {
                         font-style: italic;
                       }

.titulo.historia {
                   text-align: center;
                   font-weight: bold;
                   font-size: 2em;
                   margin: 0 0 1em;
                 }

.main.home.secundarios {
                        display: grid;
                        margin: 30px auto;
                        padding: 50px 0 10px 0;
                        border-top: 1px solid var(--cor-preta); 
                        grid-template-columns: 40% 40% 20%;
                       }

.titulo.secundario {
                      border-bottom: 0.5px solid var(--cor-preta);
                      text-transform: uppercase;
                      font-size: 1.2em;
                      text-align: left;
                      font-weight: bold;
                   }

.titulo.secundario.secao {
                            border-bottom: none;
                         }

.titulo.secundario.ver_todos {  
                               color: var(--cor-amarela);
                               border-bottom: none;
                               padding-top: 6px;
                               font-size: 0.8em;
                             }

#secao_funcionamento {
                       padding-right: 4%;
                     }

#secao_funcionamento_tabela {
                             margin: 23% auto;
                            }


table {
        margin: 20px 0 40px;
      }
                        
thead {
        background: var(--cor-preta);
        color: white;
        font-weight: bold;
      }
                        
td, th {
         border: 1px solid var(--cor-preta);
         padding: 8px 15px;
       }

#secao_cortes_feitos {
                       padding: 0 4%;
                       border-right: 1px solid var(--cor-preta); 
                       border-left: 1px solid var(--cor-preta); 
                     }

#secao_diferenciais {
                     margin-left: 4%;
                     text-align: left;
                    }

.secao_diferenciais_lista {
                           padding-top: 30px;
                          }

.secao_diferenciais_lista.item_atendimento {
                                             padding-top: 10px;
                                           }

.secao_diferenciais_lista.item_localizacao {
                                            margin-bottom: 30px;
                                          }
  
#footer { 
          text-align: center;
          padding: 10px 0;
          background-image: url("../images//bg.jpg");
        }
  
.emblema.footer {
                  width: 7%;   
                }

#copyright {
            margin: 10px;
            color: white;
           }
                                  

.main.produtos li {
                    border: 2px solid #000000;
                    text-align: center;
                    border-radius: 10px;
                    width: 70%;
                    margin: 0 auto;
                    padding: 30px 10px 10px;
                  }

.main.produtos h2 {
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: bold;
                    padding-bottom: 10px;
                  }

.main.produtos.descricao {
                          text-align: center;
                          font-size: 0.9em;
                         }

.main.produtos.preco {  
                        font-size: 20px;
                        font-weight: bold;
                        text-align: center;
                        margin-top: 20px;
                     }

.emblema.produto {
                   width: 100%;
                   margin: 0 auto;
                 }

.main.produtos li:hover {
                          border-color: var(--cor-amarela)
                        }

.main.produtos li:hover h2 {
                             font-size: 30px;
                           }

.main.produtos li:active {
                           border-color: var(--cor-verde);
                         }

form {
       margin: 40px 0;
     }

form label, form legend {
                          display: block;
                          font-size: 20px;
                          margin: 0 0 20px;
                        }

.input-padrao {
                display: block;
                margin: 0 0 20px;
                padding: 10px 25px;
                width: 50%
              }

.checkbox {
            margin: 20px 0;
          }

.enviar {
          width: 50%;
          border: none;
          padding: 20px;
          border-radius: 6px;
          transition: 0.5s all;
          background: var (--cor-laranja);
          font-weight: bold;
          font-size: 18px;
          color: white;
        }

.enviar:hover {
                background: var(--cor-laranja-escura);
                transform: scale(1.05);
              }